<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>500 Server Error</title>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            change(7);
        })
        function change(time){
                time--;
                $(".num").text(time);
                if (time == 0) {
                    location.href = 'http://felixglow.com';
                }
                t = setTimeout('change('+time+')', 1000);
            }
    </script>
    <style type="text/css">
        body{text-align:center}
        h1{font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;}
    </style>
</head>

<body>
<p><img src="{% static 'images/500.png' %}" width="1200" height="380" style="border-radius: 5px"/></p>
<h2><span class="num"></span>秒钟后将带您返回地球...</h2>
</body>
</html>
