{% extends 'base.html' %}
{% load static %}

{% block title %}<title>关于我</title>{% endblock %}
{% block script %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/about.css' %}" rel="stylesheet">
<link href="{% static 'css/media.css' %}" rel="stylesheet">
{% endblock %}

{% block about %}topnav_current{% endblock %}

{% block article %}
  <article>
    <h3 class="about_h">您现在的位置是：<a href="{% url 'index' %}">首页</a>> 关于我</h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
          <p>{{ about.content|safe}}</p>
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
        <p>域  名：www.yangqq.com 创建于2011年01月12日 <a href="http://www.net.cn/domain/" class="blog_link" target="_blank">注册域名</a></p>
        <p>服务器：阿里云服务器<a href="http://www.aliyun.com/product/ecs/?ali_trackid=2:mm_11085263_4976026_15602229:1389838528_3k2_34164590" class="blog_link" target="_blank">购买空间</a></p>
        <p>程  序：Python Django</p>
        <p>数据库：Mysql</p>
      </ul>
    </div>
  </article>
{% endblock %}

{% block about_c %}
    <div class="about_c">
      <p>网名：Felix </p>
      <p>职业：程序猿 服务端开发 </p>
      <p>城市：上海 松江区</p>
      <p>邮箱：wangcb112@sina.com</p>
    </div>
{% endblock %}