<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        <title>首页</title>
    {% endblock %}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<link href="{% static 'syntaxhighlighter/css/shCore.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'syntaxhighlighter/css/shThemeDefault.css' %}" type="text/css" rel="stylesheet">
	<script src="{% static 'syntaxhighlighter/js/XRegExp.js' %}" type="text/javascript"></script>
	<script src="{% static 'syntaxhighlighter/js/shCore.js' %}" type="text/javascript"></script>
	<script src="{% static 'syntaxhighlighter/js/shAutoloader.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/syntaxhighlighter_autoloads.js' %}" type="text/javascript"></script>
    {% block script %}
    {% endblock %}
</head>
<body>

<div class="nav">
    <ul>
        <li><a href="{% url 'index' %}" style="color: #fff">Felix Only</a></li>
        <li><a {% block index %}{% endblock %} href="{% url 'index' %}">首页</a></li>
        <li><a {% block blog %}{% endblock %} href="{% url 'blog_list' %}">爱折腾</a></li>
        <li><a {% block life %}{% endblock %} href="{% url 'life_list' %}">慢生活</a></li>
        <li><a {% block share %}{% endblock %} href="{% url 'share' %}">乐分享</a></li>
    </ul>
</div>
<div class="content clearFix">
    <div class="left-content">
        <div class="header">
            <h1>Felix 的个人博客</h1>
            <p><span>和这个世界交手这许多年</span>&nbsp&nbsp
                <span>你是否光彩依旧，兴致盎然...</span></p>
        </div>
        {% block article %}
        {% endblock %}
    </div>

    <div class="sidebar">
        <div class="sidebar-sub">
            {% block category %}
            {% endblock %}

            {% block introduce %}
            <div class="introduce">
                <p>小猿一枚 服务端开发</p>
                <p>联系博主 Felix</p>
                <p>邮箱： wangcb112@sina.com</p>
            </div>
            {% endblock %}

            {% block top-article %}
            {% endblock %}

            {% block rec-article %}
            {% endblock %}

            {% block links %}
            <div class="links">
                <h2>友情链接</h2>
                <ul>
                  <li><a href="http://www.dannysite.com/" target="_blank">DannySite</a></li>
                  <li><a href="http://tongqi.me/" target="_blank">TongQi</a></li>
                  <li><a href="http://godseeu.sinaapp.com" target="_blank">God See You</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </div>
</div>



{% block bottom %}
<div class="bottom">
    <div class="bt-left">
        <p>基于 Django1.7 ubuntu nginx uwsgi 构建</p>
        <p>服务器采用的 <a href="http://www.aliyun.com/product/ecs/" target="_blank">阿里云</a></p>
        <p>域名来自 <a href="http://www.net.cn/?utm_campaign=AD1&utm_source=baidu&utm_medium=brand" target="_blank">万网</a></p>
    </div>
    <div class="bt-middle">
        <p>©2015 felixonly.com. All rights reserved. </p>
        <p>Design by Felix</p>
        <p><a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备15017930号</a></p>
    </div>
    <div class="bt-right">

    </div>
</div>
{% endblock %}
{% block page %}
<div id="page">
</div>
{% endblock %}
</body>
</html>
