<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% block title %}
{% endblock %}

<meta name="keywords" content="个人博客 程序 web python django" />
<meta name="description" content="个人博客" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

{% block script %}
{% endblock %}

<!--[if lt IE 9]>
<script src="{% static 'js/modernizr.js' %}"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
    {% block navigation %}
      <header>
        <h1>似水流年</h1>
        <h2>Yesterday is history. Tomorrow is a mystery. Today is a gift. That's why we call it Present.</h2>
        <div class="logo"><a href="/"></a></div>
        <nav>
            <a id="{% block index %}{% endblock %}" href="{% url 'index' %}">首页</a>
            <a id="{% block blog %}{% endblock %}" href="{% url 'blog_list' %}">爱折腾</a>
            <a id="{% block life %}{% endblock %}" href="{% url 'life_list'  %}">慢生活</a>
            <a id="{% block happyshare %}{% endblock %}" href="{% url 'share' %}">乐分享</a>
            <a id="{% block about %}{% endblock %}" href="{% url 'about' %}">关于我</a>
        </nav>
      </header>
    {% endblock %}

    {% block article %}
    {% endblock %}

  <aside>
    {% block aboutme %}
    <div class="avatar"><a href="{% url 'about' %}"><span>关于Felix</span></a></div>
    <div class="topspaceinfo">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;和这个世界交手这许多年</h1>
      <p>你是否光彩依旧，兴致盎然....</p>
    </div>
    {% endblock %}

    {% block about_c %}
    {% endblock %}

    {% block rnav %}
    {% endblock %}

    {% block share %}
    {% endblock %}

    {% block news %}
    {% endblock %}

    {% block links %}
    {% endblock %}

    {% block click_news %}
    {% endblock %}

    <div class="copyright">
      <ul>
        <p> Design by <a href="/">Felix</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>

  </aside>
  <div class="clear"></div>
  <!-- 清除浮动 -->
</div>
</body>
</html>
