{% extends 'base.html' %}
{% load static %}
{% load duoshuo_tags %}
{% duoshuo_comments %}

{% block title %}<title> 爱折腾 </title>{% endblock %}
{% block script %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/media.css' %}" rel="stylesheet">
{% endblock %}

{% block blog %}topnav_current{% endblock %}

{% block article %}
  <article>
    <h2 class="about_h">您现在的位置是：<a href="{% url 'index' %}">首页</a>> 爱折腾 </h2>
    <div class="bloglist">
      {% for obj in articles %}
      <div class="newblog">
        <ul class="blogcontent">
          <h3><a href="{% url 'blog_detail' %}?id={{ obj.id }}">{{ obj.name }}</a></h3>
          <div class="autor">
              <span>作者：{{ obj.author }}   </span>
              <span>分类: {% for tag in obj.tags.all %}[<a href="{% url 'tag_query' %}?id={{ tag.id }}">{{ tag.name }}</a>]   {% endfor %}</span>
              <span>浏览（{{ obj.click_count }}）</span>
          </div>
          {{ obj.content|safe|truncatewords_html:8}}<a href="{% url 'blog_detail' %}?id={{ obj.id }}" class="readmore">全文</a>
        </ul>
        <figure><img src="{{ obj.image.url }}" ></figure>
        <div class="dateview">{{ obj.publish_time|date:'Y-n-d'}}</div>
      </div>
       {% endfor %}
    </div>
      <div class="btn">
             <ul class="pagination">
                 {% if page_obj.has_previous %}
                 <li >
                     <a href="{% url 'blog_list' %}?page={{ page_obj.previous_page_number }}" class="paginator-previous"><<</a>
                 </li>
                 {% else %}
                 <li class="disabled">
                     <a href="javascript:;" class="paginator-previous"><<</a>
                 </li>
                 {% endif %}

                 {% for num in page_obj.paginator.page_range %}
                 {% if num == page_obj.number %}
                 <li class="active">
                     <a href="javascript:;">{{ num }}</a>
                 </li>
                 {% else %}
                 <li class="paginator-page">
                     <a href="{% url 'blog_list' %}?page={{ num }}">{{ num }}</a>
                 </li>
                 {% endif %}
                 {% endfor %}

                 {% if page_obj.has_next %}
                 <li>
                     <a href="{% url 'blog_list' %}?page={{ page_obj.next_page_number }}" class="paginator-next">>></a>
                 </li>
                 {% else %}
                 <li class="disabled">
                     <a href="javascript:;" class="paginator-next">>></a>
                 </li>
                 {% endif %}
             </ul>
         </div>
  </article>
{% endblock %}

{% block aboutme %}
{% endblock %}

{% block rnav %}
<div class="rnav">
    {% for obj in tags %}
        <li class="{% cycle 'rnav1' 'rnav2' 'rnav3' 'rnav4' %}"><a href="{% url 'tag_query' %}?id={{ obj.id }}">{{ obj.name }}</a></li>
    {% endfor %}
</div>
{% endblock %}

{% block click_news %}
<div class="ph_news">
  <h2>
    <p>点击排行</p>
  </h2>
  <ul class="ph_n">
    {% for obj in tops %}
        <li class="ph_li"><span class="
        {% if forloop.counter == 1 %}
            num1
        {% elif forloop.counter == 2 %}
            num2
        {% elif forloop.counter == 3 %}
            num3
        {% else %}
        {% endif %}
         ">{{ forloop.counter }}</span><a href="{% url 'blog_detail' %}?id={{ obj.id }}">{{ obj.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>
    <p>栏目推荐</p>
  </h2>
  <ul>
      {% for obj in recommends %}
        <li class="ph_li"><a href="{% url 'blog_detail' %}?id={{ obj.id }}">{{ obj.name }}</a></li>
      {% endfor %}
  </ul>

  <h2>
    <p>最新评论</p>
  </h2>

    <!-- 多说最新评论 start -->
    <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="0" data-show-admin="1" data-excerpt-length="70"></div>
    <!-- 多说最新评论 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"felixonly"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	    })();
    </script>
    <!-- 多说公共JS代码 end -->

  <h2>
    <p>最近访客</p>
      <ul class="ds-recent-visitors"></ul>
  </h2>
</div>
{% endblock %}