<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#gravityButton").click();
        });
    </script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="{% url 'index' %}" style="color: #fff">Felix Only</a></li>
        <li><a class="active" href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'blog_list' %}">爱折腾</a></li>
        <li><a href="{% url 'life_list' %}">慢生活</a></li>
        <li><a href="{% url 'share' %}">乐分享</a></li>
    </ul>
</div>
        <ul id="gallery">
        <li class="run"><img src="{% static 'images/run.jpg' %}"></li>
        <li class="shelton"><img src="{% static 'images/shelton.jpg' %}"></li>
        <li class="nanjing"><img src="{% static 'images/nanjing.jpg' %}"></li>
        <li class="cinema"><img src="{% static 'images/cinema.jpg' %}"></li>
        <li class="church"><img src="{% static 'images/church.jpg' %}"></li>
{#        <li class="zhuang"><img src="{% static 'images/zhuang.jpg' %}"></li>#}
        <li class="happiness"><img src="{% static 'images/happiness.jpg' %}"></li>
		</ul>

        <a href="#" id="gravityButton">开始</a>
        <!-- JavaScript includes -->
        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/spectragram.min.js' %}"></script>
        <script src="{% static 'js/jGravity-min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
