{% extends 'base.html' %}
{% load static %}

{% block title %}<title> 慢生活 </title>{% endblock %}
{% block script %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/media.css' %}" rel="stylesheet">
{% endblock %}

{% block life %}topnav_current{% endblock %}

{% block article %}
  <article>
    <h2 class="about_h">您现在的位置是：<a href="{% url 'index' %}">首页</a>> 慢生活 </h2>
    <div class="bloglist">
      {% for obj in articles %}
      <div class="newblog">
        <ul class="blogcontent">
          <h3><a href="{% url 'life_detail' %}?id={{ obj.id }}">{{ obj.name }}</a></h3>
          <div class="autor">
              <span>作者：{{ obj.author }}  </span>
              <span>浏览（{{ obj.click_count }}）</span>
              <span>评论（{{ obj.comment_count }}）</span>
          </div>
          <p>{{ obj.content|safe|truncatewords_html:8}}<a href="{% url 'life_detail' %}?id={{ obj.id }}" class="readmore">全文</a></p>
        </ul>
        <figure><img src="{{ obj.image.url }}" ></figure>
        <div class="dateview">2014-04-08</div>
      </div>
       {% endfor %}
    </div>
    <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
  </article>
{% endblock %}

{% block aboutme %}
{% endblock %}

{% block click_news %}
<div class="ph_news">
  <h2>
    <p>点击排行</p>
  </h2>
  <ul class="ph_n">
    {% for obj in tops %}
        <li><span class="
        {% if forloop.counter == 1 %}
            num1
        {% elif forloop.counter == 2 %}
            num2
        {% elif forloop.counter == 3 %}
            num3
        {% else %}
        {% endif %}
         ">{{ forloop.counter }}</span><a href="{% url 'blog_detail' %}?id={{ obj.id }}">{{ obj.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>
    <p>最新评论</p>
  </h2>
  <ul class="pl_n">
    <dl>
      <dt><img src="../../static/images/s8.jpg"> </dt>
      <dt> </dt>
      <dd>DanceSmile
        <time>49分钟前</time>
      </dd>
      <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
    </dl>
    <dl>
      <dt><img src="../../static/images/s7.jpg"> </dt>
      <dt> </dt>
      <dd>yisa
        <time>2小时前</time>
      </dd>
      <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
    </dl>
    <dl>
      <dt><img src="../../static/images/s6.jpg"> </dt>
      <dt> </dt>
      <dd>小林博客
        <time>8月7日</time>
      </dd>
      <dd><a href="/">博客色彩丰富，很是好看</a></dd>
    </dl>
    <dl>
      <dt><img src="../../static/images/003.jpg"> </dt>
      <dt> </dt>
      <dd>DanceSmile
        <time>49分钟前</time>
      </dd>
      <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
    </dl>
    <dl>
      <dt><img src="../../static/images/002.jpg"> </dt>
      <dt> </dt>
      <dd>yisa
        <time>2小时前</time>
      </dd>
      <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
    </dl>
  </ul>
</div>
{% endblock %}