{% extends 'base.html' %}
{% load static %}

{% block title %}<title> 乐分享 </title>{% endblock %}
{% block script %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/media.css' %}" rel="stylesheet">
<link href="{% static 'css/share.css' %}" rel="stylesheet">
{% endblock %}

{% block happyshare %}topnav_current{% endblock %}

{% block article %}
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>> 乐分享</h2>
    <div class="template">
      <h3>
        <p><span>个人博客</span>模板</p>
        <a href="/" class="more">更多>></a> </h3>
      <ul>
        <li><a href="/"  target="_blank"><img src="../../static/images/t00.jpg"></a><span>黑色Html5个人博客模板主题《如影随形》</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/t01.jpg"></a><span>仿新浪博客风格・梅――古典个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="../../static/images/t02.jpg"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/t03.jpg"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="../../static/images/t04.jpg"></a><span>女生清新个人博客网站模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/t05.jpg"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/t06.jpg"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/01.jpg"></a><span>仿新浪博客风格・梅――古典个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="../../static/images/02.jpg"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="../../static/images/04.jpg"></a><span>女生清新个人博客网站模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/02.jpg"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/03.jpg"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
      </ul>
      <h3>
        <p><span>企业</span>网站模板</p>
        <a href="/" class="more">更多>></a> </h3>
      <ul>
        <li><a href="/"  target="_blank"><img src="../../static/images/01.jpg"></a><span>仿新浪博客风格・梅――古典个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="../../static/images/02.jpg"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/03.jpg"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
        <li><a href="/" target="_blank"><img src="../../static/images/04.jpg"></a><span>女生清新个人博客网站模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/02.jpg"></a><span>黑色质感时间轴html5个人博客模板</span></li>
        <li><a href="/"  target="_blank"><img src="../../static/images/03.jpg"></a><span>Green绿色小清新的夏天-个人博客模板</span></li>
      </ul>

    </div>
    <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
  </article>
    {% endblock %}

{% block about_c %}
    <div class="about_c">
      <p>网名：Felix </p>
      <p>职业：程序猿 服务端开发 </p>
      <p>城市：上海 松江区</p>
      <p>邮箱：wangcb112@sina.com</p>
    </div>
{% endblock %}