{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Share - Welcome to FelixGlow</title>
    <meta name="description" content="Felix的个人网站，采用的Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。
    技术专注于Python及相关知识，包括Python、Django、HTML、CSS、JavaScript、Redis、Linux、Mysql、Docker等。">
    <meta name="keywords" content="编程,Python,Django,HTML,CSS,JavaScript,Redis,Linux,Mysql,Docker,个人网站">
{% endblock %}

{% block script %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/life.css' %}" rel="stylesheet">
    <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}

{% block share %}
    class="active"
{% endblock %}

{% block category %}
    <div class="avatar">
    </div>
{% endblock %}

{% block article %}
<div class="article">
    <ul class="art-ul">
        {% for obj in share %}
            <li class="art-share">
                <div class="art-avatar"><img src="{{ obj.image.url }}"></div>
                <span class="art-life-intro">{{ obj.content|safe}}</span>
                <p class="dateview">{{ obj.publish_time|date:'Y-n-d' }}</p>
            </li>
        {% endfor %}
    </ul>
    <div class="btn">
        <ul class="pagination">
            <li>
                <a class="paginator-previous" href="
                    {% if page_obj.has_previous %}
                        {% url 'share_page' page_obj.previous_page_number %}
                    {% else %}
                        javascript:;
                    {% endif %}
                "><<</a>
            </li>
            {% for obj in page_obj.range_list %}
                <li>
                {% if obj == page_obj.number %}
                    <a href="javascript:;" class="active">{{ obj }}</a>
                {% else %}
                    <a href="{% url 'share_page' obj %}">{{ obj }}</a>
                {% endif %}</li>
            {% endfor %}
            <li>
                <a href="
                    {% if page_obj.has_next %}
                        {% url 'share_page' page_obj.next_page_number %}
                    {% else %}
                        javascript:;
                    {% endif %}
                ">>></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block weather %}
{% if flag %}
<div class="weather">
    <h2>当前天气</h2>
    <div class="weather-pic"><img src={{pic_url}}></a>
    <p>{{txt}}</p>
    <p>气温: {{now_tmp}}°C</p>
    </div>

</div>
{% endif %}
{% endblock %}

{% block top-article %}
{% endblock %}