*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
}

.nav .active {
    color: #fff;
}

.nav {
    width: auto;
    min-width: 1000px;
    height: 50px;
    border: 1px solid rgba(126, 49, 49, 0.43);
    background-color: #762E2E;
    -moz-border-radius: 0 0 3px 3px; /* Firefox */
    -webkit-border-radius: 0 0 3px 3px; /* Safari 和 Chrome */
    border-radius: 0 0 3px 3px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    box-shadow: 0 1px 3px;
    -webkit-box-shadow: 0 1px 3px;
    -moz-box-shadow: 0 1px 3px;
    position:fixed; top:0px; left:0px; right:0px;
    z-index: 100;
}

.nav ul {
    margin-left: 75px;
    line-height: 50px;
}

.nav ul li {
    float: left;
    margin: 0 0 0 70px;
}

.nav a {
    color: #cdbfe3;
    font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
    font-size: 17px;
}

.nav a:hover {
    color: #fff;
}
