{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>二维码生成器</title>
    <meta name="description" content="二维码生成器">
    <meta name="keywords" content="二维码,自动生成,python,qrcode">
{% endblock %}

{% block script %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/magic.css' %}" rel="stylesheet">
    <script>
      $(function() {
        $( "#slider-range-min" ).slider({
          range: "min",
          value: 37,
          min: 1,
          max: 700,
          slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.value );
          }
        });
        $( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
      });
    </script>
{% endblock %}

{% block magic %}
    class="active"
{% endblock %}

{% block category %}
    <div class="avatar">
    </div>
{% endblock %}

{% block article %}
    <div class="article">
        <div class="art-location">
            <i class="fa fa-map-marker fa-2x"></i> 您现在的位置是：<a href="{% url 'index' %}">首页</a> <i class="fa fa-angle-right"></i>
            <a href="{% url 'magic' %}">小魔盒</a> <i class="fa fa-angle-right"></i> 二维码生成器
        </div>
        <div class="magic-content">
            <p>
              <label for="amount">大小:</label>
              <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>

            <div id="slider-range-min"></div>
        </div>
    </div>
{% endblock %}

{% block top-article %}
{% endblock %}

{% block rec-article %}
{% endblock %}